<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./prd/styles/app.css">
</head>
<body>
   <div ng-controller="homes" class="searchFirst">
       <p>
           <input type="text" placeholder="search firstName" ng-model="searchText">
           <input type="text" placeholder="search lastName" ng-model="searchTxt">
       </p>

       <table border="0">
           <thead>
           <tr>
               <td ng-click="title='FirstName'; desc=!desc;add()">FirstName <span ng-class="add"></span></td>
               <td ng-click="title='LastName'; desc=!desc;add()">LastName <span ng-class="add"></span></td>
               <td ng-click="title='Gender'; desc=!desc;add()">Gender <span ng-class="add"></span></td>
               <td ng-click="title='Salary1'; desc=!desc;add()">Salary1 <span ng-class="add"></span></td>
               <td ng-click="title='Salary'; desc=!desc;add()">Salary <span ng-class="add"></span></td>
               <td ng-click="title='Birthday'; desc=!desc;add()">Birthday <span ng-class="add"></span></td>

           </tr>
           </thead>
           <tbody>
           <tr ng-repeat="s in search  | filter:seaFirst:value | filter:seaLast:value  |  orderBy: title : desc"> <!-- filter:searchText:true完全匹配 filter:searchText 模糊匹配-->
               <td>{{s.FirstName}}</td>
               <td>{{s.LastName}}</td>
               <td>{{s.Gender}}</td>
               <td>{{s.Salary1}}</td>
               <td>{{s.Salary}}</td>
               <td>{{s.Birthday | date:"yyyy-MM-dd"}}</td>
           </tr>

           </tbody>
       </table>
   </div>
<script src="./libs/angular.min.js"></script>
<script src="./prd/scripts/app.js"></script>
</body>
</html>