<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./prd/styles/app.css">
</head>
<body>

<div ng-controller="demos">
    <p>{{price | currency:"￥"}}</p>
    <input type="button" value="-" ng-click="removeItem()">
    <input type="text" ng-model="cunter">
    <input type="button" value="+" ng-click="addItem()">
   <p>总价 = {{ (cunter * price) | currency:"￥" }}</p>
</div>
<script src="./libs/angular.min.js"></script>
<script src="./prd/scripts/app.js"></script>
</body>
</html>